﻿@import url(https://cdn.jsdelivr.net/gh/koreadaily/NotoSansKR-Hestia@efaffc/stylesheets/NotoSansKR-Hestia.css);
@import url(https://fonts.googleapis.com/css?family=Hi+Melody&amp;subset=korean);
 


*:focus {outline:none !important}
 *:active{outline:none !important}
select:focus {outline:none !important;border:1px solid #FD1A49 !important;}
select:active {outline:none !important;border:1px solid #FD1A49 !important;}
input[type=text]:focus {outline:none !important;border:1px solid #FD1A49 !important;}
input[type=text]:active {outline:none !important;border:1px solid #FD1A49 !important;} 
textarea:focus {outline:none !important;}
textarea:active {outline:none !important;}  


.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

a {cursor:pointer;}
a, a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover, a:active {text-decoration:underline;}
@media print {
    .disabled {display:none !important;}
    .adbox-bg {display:none !important;}
    .ad-area-box {display:none !important;}
    a:link:after, a:visited:after {
      display: none;
      content: "";
    }
}
.disabled { pointer-events: none;cursor: default;display : none;}
body {font-family:'Hi Melody', cursive,'Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif !important;font-size: 18px;color: #000}
html { font-size: 100%; font-size: 18px;line-height: 22px;color: #000;}
.clear{clear:both;height:0;visibility:hidden;display:block;}
.clear-both {clear:both;}
.btn{cursor:pointer;}

input, textarea, select, button, table, th, td {
font-family:'Hi Melody', cursive,'Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif !important; }
p { margin: 0px;padding: 0px;}
ul, ol { margin: 0px;padding: 0px;}
blockquote {padding: 10px 20px;margin: 0 0 30px;border-left: 5px solid #eee;}
label{font-weight:normal;margin: 0px;padding: 0px;}
li{list-style:none;}
[class^="fa-"],
[class^="glyphicon-"],
[class^="icon-"],
[class*=" fa-"],
[class*=" glyphicon-"],
[class*=" icon-"] {
display: inline-block;
margin-top: 1px;
*margin-right: .3em;
-webkit-font-smoothing: antialiased;
}
i[class^="icon-"], i[class*=" icon-"] {
font-family: 'icomoon';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
line-height:normal;
}
.size-auto, .size-full, .size-large, .size-medium, .size-thumbnail {max-width: 100%;height: auto;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;margin: 0;padding: 0;}
img {border: none;vertical-align: middle;}
select {background-color: #ffffff;border: 1px solid #d0d0d0;display: inline-block;padding: 4px 6px;font-size: 14px;height: 30px;line-height: 30px;color: #000;vertical-align: middle;cursor:pointer;}


input.requied, select.requied { border: 1px solid #A94442 !important; background: #ffeaea; }
span.box.requied { border: 1px solid #A94442 !important; background: #ffeaea; }
label.requied { color: #b02c2c; font-weight: bold !important; }
.input_area_box .normalarea .requied_info { color: #b02c2c;font-size:12px !important; }
span.requied_info { color: #b02c2c;font-size:12px !important; }

.ui.button.link { padding: 0; margin: 0; background: none; border: none; }

/* control tags E*/


/*FT Color S*/
.ft_fff{color:#fff}
.ft_333{color:#333;}
.ft_111 {color: #111;}
.ft_666{color:#666;}
.ft_000 {color: #000;}
.ft_999 {color: #999;}
.ft_yeorange{color:#ff9933}
.ft_orange {color: #ff9c00;}
.ft_orange2{color:#f9870a;}
.ft_orange_dark{color:#ff6c00}
.ft_gray{color:#737373;}
.ft_orange_hover{color:#fe6c00;}
.ft_dark_gray{color:#6c6c6c;}
.ft_dark_gray2{color:#4b4b4b;}
.ft_gray_blue{color:#afb0b3;}
.ft_pink2{color:#f32d66;}
.ft_blue{color:#0164ad}
.ft_dark_blue2{color:#172b41}
.ft_dark_blue{color:#2b507a}
.ft_lighter_blue{color:#719ccd}
.ft_less_gray{color:#999;}
.ft_dark_red{color:#b02c2c}
.ft_real_red{color:#ff0000;}
.ft_dark_red2{color:#dc6767   !important}
.ft_strongred{color:#cc0000;}
.ft_sunday_red{color:#c70000;}
.ft_lightorange{color:#ffd289;}
.ft_lightyellow{color:#fff3a4;}
.ft_lightgray{color:#c8c8c8;}
.ft_lime_green{color:#009933;}
.ft_pure_cyan{color:#00D0FF;}
.ft_lightgray3{color:#858585;}
.ft_pink{color:#F14E95}

/*FT Color E*/
/*FT style S*/
.normal_font{font-weight:normal;}
.lighter_font{font-weight:lighter;}
.semi_font2{font-weight:500;}

.semi_font{font-weight:600;}
.bold_font{font-weight:bold;}

/*FT style E*/


/*FT line height S*/
.lineheight16{line-height:16px;}
.lineheight18{line-height:18px;}
.lineheight20{line-height:20px;}
.lineheight22{line-height:22px;}
.lineheight24{line-height:24px;}
.lineheight30{line-height:30px;}
.lineheight36{line-height:36px;}
/*FT line height E*/
/*FT size S*/
.ftsize10{font-size:10px;}
.ftsize11{font-size:11px;}
.ftsize12{font-size:12px;}
.ftsize13{font-size:13px;}
.ftsize14{font-size:14px;}
.ftsize15{font-size:15px;}

.ftsize16{font-size:16px;}
.ftsize18{font-size:18px;}
.ftsize20{font-size:20px;}
.ftsize22{font-size:22px;}
.ftsize24{font-size:24px;}
.ftsize30{font-size:30px;}
/*FT size E*/


/* H tags S*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family:'Hi Melody', cursive,'Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif !important;margin:0px;padding:0px;}
h1 {font-size: 40px;line-height:1.25em}
h2 {font-size: 32px;line-height:1.25em}
h3 {font-size: 30px;line-height:1.25em}
h4 {font-size: 24px;line-height:1.25em}
h5 {font-size: 20px;line-height:1.25em}
h6 {font-size: 16px;line-height:1.25em}
/* H tags E*/
/* layout S*/
hr { margin: 5px 0; padding: 5px 0; }

.border.line1 { border: 1px solid; }
.border.line2 { border: 2px solid; }
.bordertop1 { border-top:1px solid; }
.borderbtm1{ border-bottom:1px solid; }
.borderrt1{ border-right:1px solid; }
.borderlt1{ border-left:1px solid; }
.border.lighter { border-color: #ddd; }
.border.muted { border-color: #ccc; }
.border.dark { border-color: #111; }
.no-border { border: none;}
.no-border-radius { border-radius: 0; }

.clear { clear: both; }
.clear_both { clear: both; }
.clear_left { clear: left; }
.clear_right { clear: right; }
 
.text_justify {text-align: justify;}

.float_left{float:left;}
.float_right{float:right;}

.vertical_middle{vertical-align:middle;}
.vertical_top{vertical-align:top;}
.vertical_bottom{vertical-align:bottom;}
/* layout E*/




/*padding S*/
.pa_left5{padding-left:5px;}
.pa_left10{padding-left:10px;}
.pa_left15{padding-left:15px;}
.pa_left20{padding-left:20px;}
.pa_left25{padding-left:25px;}
.pa_left30{padding-left:30px;}
.pa_left35{padding-left:35px;}
.pa_left40{padding-left:40px;}

.pa_right5{padding-right:5px;}
.pa_right10{padding-right:10px;}
.pa_right15{padding-right:15px;}
.pa_right20{padding-right:20px;}
.pa_right25{padding-right:25px;}
.pa_right30{padding-right:30px;}
.pa_right35{padding-right:35px;}
.pa_right40{padding-right:40px;}

.pa_btm5 {padding-bottom:5px;}
.pa_btm10 {padding-bottom:10px;}
.pa_btm15 {padding-bottom:15px;}
.pa_btm20 {padding-bottom:20px;}
.pa_btm25 {padding-bottom:25px;}
.pa_btm30 {padding-bottom:30px;}
.pa_btm40 {padding-bottom:40px;}
.pa_btm50 {padding-bottom:50px !important;}
.pa_btm70 {padding-bottom:70px !important;}

.pa_top5{padding-top:5px;}
.pa_top10 {padding-top:10px;}
.pa_top15 {padding-top:15px;}
.pa_top20 {padding-top:20px;}
.pa_top25 {padding-top:25px;}
.pa_top30 {padding-top:30px;}
.pa_top35 {padding-top:35px;}
.pa_top40 {padding-top:40px;}
.pa_top50 {padding-top:50px;}

.pa_all0 {padding: 0px !important;}
.pa_all10 {padding:10px !important;}
.pa_all20 {padding:20px !important;}
.pa_all30 {padding:30px !important;}
/*padding E*/

/*margin S*/
.ma_all0 {margin: 0px  !important;}
.ma_all5 {margin: 5px;}
.ma_all10 {margin: 10px;}

.ma_top_m1{margin-top:-1px;}
.ma_top_m3{margin-top:-3px;}
.ma_top_m5{margin-top:-5px;}
.ma_top_m10{margin-top:-10px;}
.ma_top_m15{margin-top:-15px;}
.ma_left_m1{margin-left:-1px;}
.ma_left_m3{margin-left:-3px;}
.ma_left_m5{margin-left:-5px;}
.ma_left_m10{margin-left:-10px;}

.ma_left5{margin-left:5px;}
.ma_left10{margin-left:10px;}
.ma_left15{margin-left:15px;}
.ma_left20{margin-left:20px}
.ma_left25{margin-left:25px}
.ma_left30{margin-left:30px;}
.ma_left35{margin-left:35px;}
.ma_left40{margin-left:40px}
.ma_left60{margin-left:60px;}

.ma_right5 {margin-right:5px;}
.ma_right10 {margin-right:10px;}
.ma_right15 {margin-right:15px;}
.ma_right20 {margin-right:20px;}
.ma_right25 {margin-right:25px;}
.ma_right30 {margin-right:30px;}
.ma_right35 {margin-right:35px;}
.ma_right40 {margin-right:40px;}

.ma_top5 {margin-top:5px}
.ma_top10 {margin-top:10px}
.ma_top15 {margin-top:15px}
.ma_top20 {margin-top:20px}
.ma_top25 {margin-top:25px}
.ma_top30 {margin-top:30px}
.ma_top35 {margin-top:35px}
.ma_top40 {margin-top:40px}
.ma_top45 {margin-top:45px}
.ma_top50 {margin-top:50px}
.ma_top55{margin-top:55px }
.ma_top60 {margin-top:60px !important;}
.ma_top65 {margin-top:65px !important}
.ma_top70 {margin-top:70px !important}
.ma_top75 {margin-top:75px  !important;}
.ma_top80{margin-top:80px !important;}

.ma_btm5 {margin-bottom:5px !important;}
.ma_btm10 {margin-bottom:10px !important;}
.ma_btm15 {margin-bottom:15px !important;}
.ma_btm20 {margin-bottom:20px !important;}
.ma_btm25 {margin-bottom:25px !important;}
.ma_btm35 {margin-bottom:35px !important;}
.ma_btm30 {margin-bottom:30px !important;}
.ma_btm40 {margin-bottom:40px !important;}
.ma_btm50 {margin-bottom:50px !important;}
.ma_btm60{margin-bottom:60px !important;}
.ma_btm80{margin-bottom:80px !important;}

/*margin E*/

/*background S*/
.bg-white{background:#fff !important;}
.bg-light-gray {background-color: #f7f7f7;}
.bg-light-blue {background-color: #3c8dbc !important;}
.bg-aqua {background-color: #00c0ef !important;}
.bg-red {background-color: #f56954 !important;}
.bg-gray{background:#b5bbc8 !important;}
.bg-darkblue{background:#1f2532}
.bg-light-gray2 {background-color:#f0f0f0}
/*background E*/


 
.eng{font-family: "Work Sans", Arial, sans-serif !important;}
 
.eng-sm{font-family: "Sacramento", Arial, serif !important;}
.kr-malgun{font-family:'Apple SD Gothic Neo' ,'Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif !important;}

    

.loading {
font-family:'Hi Melody', cursive,'Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif !important;
font-size: 14px;
border: 5px solid #666;
width: 200px;
height: 140px;
padding: 20px 0;
position: absolute;
background-color: #fff;
color: #000;
z-index: 100;
top: 30%;
left: 45%;
}

.AjaxLoaderOuter {
position: fixed;
vertical-align: middle;
text-align: center;
z-index: 888;
top: 0px;
left: 0px;
background-color: rgba(0, 0, 0, 0.5);
margin: 0px 0px 0px 0px;
width: 100%;
height: 100%;
min-height: 100%;
min-width: 100%;

}
 
.no_display{display:none !important;}
.block_display{display:block !important;}

.aside {
width: 300px !important;
height: 300px !important;
right: 0px;
bottom: 90px;
border: 1px solid;
position: fixed;
z-index: 15000;
}

#fboverlay {
opacity: 0.6;
filter: alpha(opacity=60);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-o-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
vertical-align:middle;
}

.youtube {
background-color: #000;
position: relative;
overflow: hidden;
cursor: pointer;
width:300px;
height:170px;
left:0px;
top:0px;
}

.youtube img {
width: 100%;
height:100%;
left: 0;
opacity: 0.7;
}

.youtube .play-button {
width: 90px;
height: 60px;
background-color: #333;
box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
z-index: 1;
opacity: 0.8;
border-radius: 6px;
}

.youtube .play-button:before {
content: "";
border-style: solid;
border-width: 15px 0 15px 26.0px;
border-color: transparent transparent transparent #fff;
}

.youtube img,
.youtube .play-button {
cursor: pointer;
}

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
position: absolute;
}

.youtube .play-button,
.youtube .play-button:before {
top: 50%;
left: 50%;
transform: translate3d( -50%, -50%, 0 );
}

.youtube iframe {
height: 100%;
width: 100%;
top: 0;
left: 0;
} 

a.btnst, a.btnst:link, a.btnst:visited {display:inline-block;color:#333;border:1px solid #ddd;background:#e8e8e8;font-weight:normal;font-size:13px;text-align:center;padding:0px;text-decoration:none;margin-left:0;margin-top:0px; border-radius:0px;white-space:nowrap;height:30px;line-height:30px;vertical-align:middle;cursor:pointer;padding:0px 10px;}
a.btnst:hover{ color: #111;background:#dbdbdb;border:1px solid #ccc} 
a.btnst.black{background:#000;color:#fff;}
a.btnst.black:hover{background:#333;color:#fff;}
a.btnst.orange{background:#ff9c00;color:#fff;border-color:#ff9c00}
a.btnst.orange:hover{background:#fe6c00;color:#fff;border-color:#fe6c00}
a.btnst.pink{background:#ef2831;color:#fff;border-color:#FD1A49}
a.btnst.pink:hover{background:#f32d66;color:#fff;border-color:#f32d66}
a.btnst.white{background:#fff;color:#111;border:1px solid #ddd}
a.btnst.white:hover{background:#ddd;color:#111;}