﻿
h1,h2,h3,h4{margin: 0;line-height: 1.5em;}
 
p{font-size:18px;line-height: 1.5em;}

.spacer{padding: 6em 0;}

.btn{border:none;border-radius: 0;padding: 1em 4em;background: rgba(0,0,0,0.5);text-transform: uppercase;}
.btn:hover,.btn:active{color: #fff;}
.btn-default{color: #ccc;border: 1px solid #aaa;}
.btn-default:hover,.btn-default:active{background: rgba(0,0,0,0.8);}
.btn-primary{color: #fff;background:#e89f10;width: 100%;outline: none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background:#f3c024;box-shadow: none;}

.topbar {background:url(../images/lines.png);	height:5px;position: fixed;top: 0;width: 100%;z-index: 1000;}
.navbar-nav > li > a{font-size: 1em;line-height: 3.6em;}
.navbar-fixed-top{top: 5px;}
.navbar-inverse{background: #111;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{background: none;color: #E89F10;}

#head{margin-top: 0;}
#home{position:relative}
#myCarousel{position:absolute;top:85px;left:0px;}
#home .end-left {margin-left: -190px;}
#home .end-left:after{content:"&"}
#home .end-right {margin-right: -117.5px;}
#home .outline {position: absolute;top: 120px;}
#home .outline {color: black;-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 2px;-webkit-text-stroke-color: orange;font-size: 64px;font-family: "Sacramento", Arial, serif !important;}
#home .orbs { font-weight: 100;display: block;font-size: 128px;position:relative;z-index:100;font-family: 'Roboto', 'Arial', 'sans-serif' !important;}
#home .orbs span {color: red;display: inline-block;text-align: center;border-radius: 50%;text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange;position: absolute;left: 50%;}
#home .orbs span:first-child {    margin-left: -500px;}
#home .orbs span:not(:first-child) { margin-left: -15px;}
#home .glow {opacity: 0;font-family: "Sacramento", Arial, serif !important;;font-weight: 300;color: orange;margin-left: -222.5px;font-size: 105px;position: absolute;top: 200px;left: 50%;}
#home canvas {cursor: crosshair;display: block;position:relative;z-index:1;max-width:100%;}





.glyphicon-chevron-left:before {
    content: "";
}
.glyphicon-chevron-right:before {
    content: "";
}

section {
  padding: 7em 0;
  clear: both;
}





.co-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
#scd-table{position:relative;
    height: 850px; ;} 
#scd-table .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}
#event .heading  h3 {
  color: #222;
    font-weight: 400;
    margin: 0 0 10px 0;
    font-size:24px;
}
#event .heading p {
    
    font-size: 18px;
    line-height: 1.5;
    color: #828282;    font-weight: 400;
}
#event .heading span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 300;
}
#event h2{
        font-size: 80px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
    color: #F14E95; 
}
 #event{margin-top:-70px}
 
.two-item-wrap{
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin-top:50px;
}
.heart {
  position: absolute;
  top: 4em;
  left: 0;
  right: 0;
  z-index: 99;
  animation: pulse 1s ease infinite;
}
.heart i {
  font-size: 20px;
  background: #fff;
  padding: 20px;
  color: #F14E95;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.two-item-half {
  width: 50%;
  float: left;
}
.two-item-half h3 { 
  color: #F14E95;
  font-size: 30px;
  font-weight:600;
}
.two-item-half .groom, .two-item-half .bride {
  float: left;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}
.two-item-half .groom img, .two-item-half .bride img {
  width: 170px;
  height: 170px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.two-item-half .groom {
  float: right;
  margin-right: 5px;
}
.two-item-half .bride {
  float: left;
  margin-left: 5px;
}
.two-item-half .desc-groom {
  padding-right: 200px;
  text-align: right;
}
.two-item-half .desc-bride {
  padding-left: 200px;
  text-align: left;
}
.two-item-half .desc-groom p, 
.two-item-half .desc-bride p{
    
    font-size: 20px;
    line-height: 24px; 
    font-weight:bold;
}
 

#scd-table .event-wrap {
  border: 2px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  padding:30px 25px;
  width: 100%;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
} 
#scd-table .event-wrap h3 {
  font-size: 22px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  display: block;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom:20px;
} 
#scd-table .event-wrap p,
#scd-table .event-wrap span {
  display: block;
  font-size:20px;
  line-height:24px;
  color: #fff;
      letter-spacing: -1px;
  font-weight:normal;
} 
#scd-table .event-wrap i {
  color: white;
  font-size: 20px;
}
#scd-table .event-wrap .event-col {
  width: 50%;
  float: left;
  margin-bottom: 30px;
}

#scd-table  .display-t, #scd-table  .display-tc {
    height: 700px;
    display: table;
    width: 100%;
}
#scd-table .heading {
    margin-bottom: 5em;
}
#scd-table .heading span {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 300;
}
#scd-table  h2{
    font-size: 80px;
margin-bottom: 10px;
line-height: 1.5;
font-weight: 600;
color: #fff; 
}

@media screen and (max-width: 480px) {
    .navbar-nav > li > a{font-size: 1em;line-height: 2.6em;}

#myCarousel{position:absolute;top:58px;left:0px;}
#home .end-left {margin-left: -100px;}
#home .end-left:after{content:"&"}
#home .end-right {margin-right: -90.5px;}
#home .outline {position: absolute;top: 70px;}
#home .outline {font-size: 34px}
#home .orbs {font-size: 38px;}
#home .orbs span {color: red;display: inline-block;text-align: center;border-radius: 50%;text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange;position: absolute;left: 15%;top:150px !important}
#home .orbs span:first-child {    margin-left: -60px;}
#home .orbs span:not(:first-child) { margin-left:-5px;}
#home canvas {cursor: crosshair;display: block;position:relative;z-index:1;max-width:100%;max-height:300px;}
section {padding: 30px 0;clear: both;}
#event{margin-top:-70px} 
.two-item-wrap{width: 100%;margin-top:30px;}
.heart {display: none;}
  .two-item-half {
    width: 100%;
  }
  .two-item-half:last-child{margin-top:30px;}
  .two-item-half .groom, .two-item-half .bride {
    width: 100%;
    height: 140px;
  }
  .two-item-half .groom img, .two-item-half .bride img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
  }
  .two-item-half .groom, .two-item-half .bride {
    margin-left: 0;
    margin-right: 0;
  }
  .two-item-half .desc-groom {
    padding-right: 0;
    text-align: center;
  }
  .two-item-half .desc-bride {
    padding-left: 0;
    text-align: center;
  }
  #scd-table {
    min-height: 860px;
    height: auto;}
  #scd-table .display-t{
    min-height: 860px;
  }
  
  #scd-table .event-wrap {
    margin-bottom: 10px;
  }
} 
 
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #d4d4d4;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #d4d4d4;
  padding: 30px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 80px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 81px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 105px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 260px);
    width: -moz-calc(100% - 260px);
    width: -webkit-calc(100% - 260px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 70% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
  width: 160px;
  height: 160px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -80px;
  background-color: #999999;
  z-index: 100;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-badge {
    width: 100px;
    height: 100px;
    margin-left: -20px !important;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
}

.date {
  display: block;
  margin-bottom: 20px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
